* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;

   padding: 5vw;

   position: relative;
   overflow: hidden;
}

header::before {
   content: "";
   position: absolute;
   inset: 0;
   background-color: deepskyblue;
   transform: skewY(-15deg);
   transform-origin: top left;
   z-index: -1;
   height: 40vh;
}

.header-media {
   position: relative;
   width: 80vw;
   margin-bottom: 3vw;
}

.header-image {
   width: 100%;
   height: auto;
}

.header-caption {
   position: absolute;
   bottom: 3vw;
   left: 3vw;

   text-align: left;
   font-size: clamp(3rem, 10vw, 4rem);
   font-weight: 700;
   color: white;
}

h1 {
   font-size: clamp(2.5rem, 8vw, 3.5rem);
}

header > p {
   font-size: clamp(1.75rem, 6vw, 2.5rem);
   color: gray;
   margin-bottom: 3vw;
}

.header-buttons img {
   width: 8vw;
   height: auto;
}
