@font-face {
   font-family: "Garamond";
   src: url("./assets/fonts/EB_Garamond/static/EBGaramond-Regular.ttf")
      format("truetype");
}

@font-face {
   font-family: "Roboto";
   src: url("./assets/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf")
      format("truetype");
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

h1 {
   font-size: clamp(2rem, 6vw, 2.5rem);
   font-family: "Garamond", sans-serif;
}

h2 {
   font-size: clamp(1.65rem, 5vw, 1.9rem);
   font-family: "Garamond", sans-serif;
}

img {
   height: auto;
}

header {
   display: flex;
   flex-direction: column;
   padding: 5vw;
   position: relative;
}

header::before {
   content: "";
   position: absolute;
   inset: 0;
   background-color: deepskyblue;
   transform: skewY(-15deg);
   transform-origin: top left;
   z-index: -1;
   height: 40vh;
}

.about-me {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.header-image {
   width: 100%;
   height: auto;
}

.header-image-caption {
   position: relative;
   top: -15vw;

   text-align: left;
   font-family: "Garamond", sans-serif;
   font-size: clamp(2.6rem, 7vw, 2.8rem);
   font-weight: 700;
   color: white;
   text-shadow: 2px 2px black;
}

.about-me-caption {
   font-size: clamp(1.7rem, 5vw, 2rem);
   font-family: "Roboto", sans-serif;
   color: black;
   margin-bottom: 3vw;
}

.about-me-links a {
   margin: 0 3vw 0 3vw;
}

.about-me-links img {
   width: 8vw;
   transition: transform 0.4s;
}

.about-me-links a:hover img,
.about-me-links a:focus-visible img {
   transform: scale(1.2);
}

.personal-projects {
   margin: 15vh auto 15vh auto;
   width: 85vw;
   display: flex;
   flex-direction: column;
}

.cards-wrapper {
   margin-top: 2vh;
   display: grid;
   gap: 5vw;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-card {
   width: 100%;
   height: auto;
}

.card-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.project-buttons a {
   margin: 0.5vw;
}

.project-buttons a img {
   width: 8vw;
   transition: transform 0.3s;
}

.project-buttons a img:hover,
.project-buttons a:focus-visible img {
   transform: scale(1.25);
}

.project-card > img {
   width: 100%;
   height: auto;
   display: block;
}

.project-info {
   display: flex;
   flex-direction: column;

   padding: 2vw;
   box-shadow: 0 0 1rem gray;
   clip-path: inset(0px -1rem -1rem -1rem);
}

.project-info > p {
   min-height: 15vh;
   padding: 3vw;

   text-align: left;
   font-family: "Roboto", sans-serif;
   font-size: clamp(1.2rem, 5vw, 1.6rem);
}

footer {
   background-color: deepskyblue;
   color: black;
}

.contact-me h1 {
   font-family: Garamond, sans-serif;
   text-align: center;
   padding: 5vw;
}

.footer-caption {
   font-size: clamp(1.6rem, 6vw, 2rem);
   font-family: Garamond, sans-serif;
   padding: 3vw;
}

.contact-me address {
   text-align: left;
   font-size: clamp(1.3rem, 5vw, 1.8rem);
   font-family: "Roboto", sans-serif;
   padding: 3vw;
}

.footer-buttons {
   display: flex;
   justify-content: space-evenly;

   margin: 5vw;
}

.footer-buttons img {
   width: 10vw;
   height: auto;
   transition: transform 0.4s;
}

.footer-buttons img:hover,
.footer-buttons a:focus-visible img {
   transform: scale(1.3);
}

.footer-image {
   width: 100%;
   height: auto;
   display: block;
}

@media (min-width: 600px) {
   .about-me {
      display: block;
      background-color: white;
      box-shadow: 0 0 1rem gray;

      width: 85vw;
      padding: 2vw;
      margin-top: 5vw;
      position: relative;
   }

   .header-image {
      width: 55vw;
      float: left;

      /* Makes image appear as overlapping top left corner */
      transform: translate(-5vw, -5vw);
      margin: 0 -3vw -3vw 0;
   }

   .header-image-caption {
      position: absolute;
      top: 0;
      left: 0;
   }

   .about-me-caption {
      text-align: left;
   }

   .about-me-links img {
      width: 5vw;
   }

   .personal-projects {
      margin: 5vh auto 10vh auto;
   }

   .personal-projects h1 {
      align-self: flex-start;
   }

   .project-card a img {
      width: 4vw;
   }

   footer {
      display: flex;
   }

   .contact-me {
      width: 60%;
      margin: 5vw 3vw 5vw 3vw;
   }

   .contact-me h1 {
      text-align: left;

      padding: 2vw;
   }

   .footer-caption {
      padding: 0 2vw 2vw 3vw;
   }

   .contact-me address {
      padding: 1vw 2vw 2vw 3vw;
   }

   .footer-buttons {
      justify-content: flex-start;
      gap: 3vw;

      margin: 0;
      padding: 3vw 0 0 3vw;
   }

   .footer-buttons img {
      width: 5vw;
   }

   footer picture {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2vw;
   }
}

@media (min-width: 1200px) {
   header::before {
      height: 90%;
   }

   .about-me {
      margin: 0 6vw 0 0;
      padding: 1vw;
      height: auto;
      width: 45%;

      align-self: flex-end;
   }

   .about-me-caption {
      font-size: clamp(1.2rem, 5vw, 1.6rem);
      margin-bottom: 1vw;
   }

   .about-me h1 {
      text-align: left;
   }

   .header-image {
      position: absolute;
      top: 3vw;
      left: -35vw;

      width: 100%;
      max-height: 45vh;
   }

   .header-image-caption {
      left: -35svw;
   }

   .about-me-links {
      display: flex;
      align-self: flex-end;
      justify-content: flex-end;

      gap: 2vw;
   }

   .about-me-links a {
      margin: 0;
   }

   .about-me-links img {
      width: 2.5vw;
   }

   .personal-projects {
      margin: 5vh auto 10vh auto;
      width: 95%;
   }

   .cards-wrapper {
      margin: 2vh auto 2vh auto;
      gap: 2vw;
      width: 90%;
   }

   .project-card a img {
      width: 2vw;
   }

   .project-info p {
      padding: 1vw;
   }

   .project-buttons a {
      margin: 0.1vw;
   }

   .contact-me {
      margin: 1vw;
      width: 40%;
   }

   .contact-me h1 {
      padding: 1vw;
   }

   .footer-caption {
      padding: 0 0 0 3vw;
   }

   .contact-me address {
      padding: 1vw 0 0 3vw;
   }

   .footer-buttons {
      gap: 1.5vw;
   }

   .footer-buttons img {
      width: 2.5vw;
   }

   footer picture {
      width: 60%;
      margin: 0;
   }

   .footer-image {
      width: 75%;
      max-height: 90%;
   }
}
