* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;

   align-items: center;
   justify-content: center;
}

h1 {
   font-size: clamp(2.5rem, 8vw, 3.5rem);
}

h2 {
   font-weight: 100;
   font-size: clamp(1.6rem, 6vw, 2rem);
}

header {
   display: flex;
   flex-direction: column;

   padding: 5vw;

   position: relative;
   overflow: hidden;
}

header::before {
   content: "";
   position: absolute;
   inset: 0;
   background-color: deepskyblue;
   transform: skewY(-15deg);
   transform-origin: top left;
   z-index: -1;
   height: 40vh;
}

.header-media {
   position: relative;
   width: 80vw;
   margin-bottom: 3vw;
}

.header-image {
   width: 100%;
   height: auto;
}

.header-caption {
   position: absolute;
   bottom: 3vw;
   left: 3vw;

   text-align: left;
   font-size: clamp(3rem, 10vw, 4rem);
   font-weight: 700;
   color: white;
}

header > p {
   font-size: clamp(1.75rem, 6vw, 2.5rem);
   color: gray;
   margin-bottom: 3vw;
}

img {
   width: 8vw;
   height: auto;
}

.personal-projects {
   margin: 15vh 0 15vh 0;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.project-card {
   margin: 5vw;

   width: 85vw;
   height: auto;
}

.card-header {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.project-info {
   width: 100%;
   display: flex;
   flex-direction: column;

   padding: 2vw;
   box-shadow: 0 0 1rem gray;
   clip-path: inset(0px -1rem -1rem -1rem);
}

.project-info > p {
   width: 100%;
   min-height: 15vh;
   padding: 3vw;

   text-align: left;
   font-size: clamp(1.2rem, 4vw, 1.6rem);
}
.project-card picture img {
   width: 100%;
   height: auto;
   display: block;
}

footer {
   background-color: deepskyblue;
   color: white;
}

footer h1 {
   font-size: clamp(3rem, 8vw, 5rem);
   text-align: center;
   padding: 5vw;
}

footer h2 {
   padding: 3vw;
}

.address,
.contact-info {
   text-align: left;
   font-size: clamp(1.3rem, 5vw, 2rem);

   padding: 3vw;
}

.footer-buttons {
   display: flex;
   align-items: center;
   justify-content: center;

   margin: 5vw;
   gap: 5vw;
}

.footer-buttons img {
   width: 10vw;
   height: auto;
}

.footer-image {
   width: 100vw;
   height: auto;
   display: block;
}

/**

TODO

Styling
   Button styling/responsiveness
   Updating layout based on screen size

**/
