@font-face {
   font-family: "Garamond";
   src: url("./assets/fonts/EB_Garamond/static/EBGaramond-Regular.ttf")
      format("truetype");
}

@font-face {
   font-family: "Roboto";
   src: url("./assets/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf")
      format("truetype");
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

h1 {
   font-size: clamp(2.5rem, 8vw, 3.5rem);
   font-family: Garamond, sans-serif;
}

h2 {
   font-weight: 100;
   font-size: clamp(1.6rem, 6vw, 2rem);
   font-family: Garamond, sans-serif;
}

header {
   display: flex;
   flex-direction: column;

   padding: 5vw;

   position: relative;
   overflow: hidden;
}

header::before {
   content: "";
   position: absolute;
   inset: 0;
   background-color: deepskyblue;
   transform: skewY(-15deg);
   transform-origin: top left;
   z-index: -1;
   height: 40vh;
}

.header-media {
   position: relative;
   width: 80vw;
   margin-bottom: 3vw;
}

.header-image {
   width: 100%;
   height: auto;
}

.header-links a {
   margin: 0 2vw 0 2vw;
}

.header-caption {
   position: relative;
   top: -15vw;

   text-align: left;
   font-family: Garamond, sans-serif;
   font-size: clamp(2.6rem, 8vw, 3.5rem);
   font-weight: 700;
   color: white;
}

.about-me > p {
   font-size: clamp(1.75rem, 6vw, 2.5rem);
   font-family: "Roboto", sans-serif;
   color: gray;
   margin-bottom: 3vw;
}

.about-me {
   display: flex;
   flex-direction: column;
   text-align: center;
}
img {
   width: 8vw;
   height: auto;
}

.personal-projects {
   margin: 15vh auto 15vh auto;

   width: 85vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cards-wrapper {
   margin-top: 2vh;
   display: grid;
   gap: 5vw;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-card {
   width: 100%;
   height: 100%;
}

.card-header {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.project-info {
   width: 100%;
   display: flex;
   flex-direction: column;

   padding: 2vw;
   box-shadow: 0 0 1rem gray;
   clip-path: inset(0px -1rem -1rem -1rem);
}

.project-info > p {
   min-height: 15vh;
   padding: 3vw;

   text-align: left;
   font-family: "Roboto", sans-serif;
   font-size: clamp(1.2rem, 4vw, 1.6rem);
}

.project-buttons a {
   margin: 0.5vw;
}

.project-card > img {
   width: 100%;
   height: auto;
   display: block;
}

footer {
   background-color: deepskyblue;
   color: white;
}

footer h1 {
   font-size: clamp(3rem, 8vw, 5rem);
   font-family: Garamond, sans-serif;
   text-align: center;
   padding: 5vw;
}

footer h2 {
   padding: 3vw;
}

.address,
.contact-info {
   text-align: left;
   font-size: clamp(1.3rem, 5vw, 2rem);
   font-family: "Roboto", sans-serif;

   padding: 3vw;
}

.footer-buttons {
   display: flex;
   align-items: center;
   justify-content: center;

   margin: 5vw;
   gap: 5vw;
}

.footer-buttons img {
   width: 10vw;
   height: auto;
}

.footer-image {
   width: 100%;
   height: auto;
   display: block;
}

@media (min-width: 600px) {
   h1 {
      font-size: clamp(2rem, 6vw, 2.5rem);
   }

   .about-me {
      display: block;
      background-color: white;
      box-shadow: 0 0 1rem gray;

      width: 85vw;
      padding: 2vw;
      margin-top: 5vw;
      position: relative;
   }

   .about-me p {
      text-align: left;
      font-size: clamp(1.5rem, 5vw, 1.8rem);
   }

   .header-image {
      width: 55vw;
      height: auto;
      float: left;

      margin: -8vw 1vw -1vw -5vw;
   }

   .header-caption {
      position: absolute;
      top: 0;
      left: 0;

      font-size: clamp(2.5rem, 6vw, 3rem);
   }

   .header-links img {
      width: 4vw;
      margin: 0 1vw 0 1vw;
   }

   .personal-projects {
      margin-top: 5vh;
   }

   .personal-projects h1 {
      align-self: flex-start;
   }

   .project-card a > img {
      width: 4vw;
   }

   footer {
      display: flex;
   }

   .contact-me {
      width: 60%;
      margin: 10vw 5vw 10vw 5vw;
   }

   footer h1 {
      font-size: clamp(2rem, 6vw, 2.5rem);
      text-align: left;

      padding: 2vw;
   }

   footer h2 {
      font-size: clamp(1.5rem, 5vw, 2rem);
      padding: 0 2vw 2vw 3vw;
   }

   .address,
   .contact-info {
      font-size: clamp(1.2rem, 4vw, 1.6rem);
      padding: 1vw 2vw 2vw 3vw;
   }

   .footer-buttons {
      width: auto;

      justify-content: flex-start;
      margin: 0;
      padding: 2vw 2vw 2vw 3vw;
   }

   .footer-buttons img {
      width: 5vw;
   }

   footer picture {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2vw;
   }
}

@media (min-width: 1200px) {
   h1 {
      font-size: clamp(1.8rem, 6vw, 2.3rem);
   }

   header::before {
      height: 85%;
   }

   .header-image {
      width: 40vw;
      margin: -2vw 1vw 0 -5vw;
   }

   .header-caption {
      font-size: clamp(2.5rem, 8vw, 2.8rem);
   }

   .about-me {
      margin-top: 2vw;
      padding: 1vw;
      height: 25vw;
   }
   .about-me p {
      font-size: clamp(1.4rem, 5vw, 1.6vw);
      margin-bottom: 1vw;
   }

   .about-me h1 {
      text-align: left;
   }

   .header-links {
      display: flex;
      align-self: flex-end;
      justify-content: flex-end;
   }

   .header-links a {
      margin: 0;
   }

   .header-links a img {
      width: 3vw;
   }

   .personal-projects {
      margin: 3vh auto 10vh auto;
      width: 95%;
   }

   .cards-wrapper {
      gap: 2vw;
      width: 90%;
   }

   .card-header h2 {
      font-size: clamp(1.2rem, 5vw, 1.6rem);
   }
   .project-card a img {
      width: 2vw;
   }
   .project-info p {
      font-size: clamp(1rem, 5vw, 1.3rem);
      padding: 1.5vw;
   }

   .project-buttons a {
      margin: 0.1vw;
   }

   .contact-me {
      margin: 0;
      width: 40%;
   }

   footer h1 {
      font-size: clamp(2rem, 6vw, 2.4rem);
   }

   footer h2 {
      font-size: clamp(1.8rem, 6vw, 2rem);
      padding: 0 0 0 3vw;
   }

   .address,
   .contact-info {
      font-size: clamp(1.2rem, 4vw, 1.6rem);
      padding: 2vw 0 0 3vw;
   }

   .footer-buttons {
      gap: 1.5vw;
   }

   .footer-buttons img {
      width: 2.2vw;
   }

   footer picture {
      width: 60%;
      margin: 1vw;
   }

   .footer-image {
      width: 75%;
      max-height: 90%;
   }
}

/**

TODO

Styling
   Font
   Button styling/responsiveness
   Updating layout based on screen size

**/
